<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dly.mapper.NonghuMapper">

    <resultMap id="BaseResultMap" type="com.dly.entity.NonghuEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="addtime" column="addtime" jdbcType="TIMESTAMP"/>
            <result property="nonghuzhanghao" column="nonghuzhanghao" jdbcType="VARCHAR"/>
            <result property="nonghuxingming" column="nonghuxingming" jdbcType="VARCHAR"/>
            <result property="mima" column="mima" jdbcType="VARCHAR"/>
            <result property="xingbie" column="xingbie" jdbcType="VARCHAR"/>
            <result property="lianxifangshi" column="lianxifangshi" jdbcType="VARCHAR"/>
            <result property="touxiang" column="touxiang" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,addtime,nonghuzhanghao,
        nonghuxingming,mima,xingbie,
        lianxifangshi,touxiang
    </sql>
</mapper>
