<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dly.mapper.TokenMapper">

    <resultMap id="BaseResultMap" type="com.dly.entity.TokenEntity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userid" column="userid" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="tablename" column="tablename" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
            <result property="addtime" column="addtime" jdbcType="TIMESTAMP"/>
            <result property="expiratedtime" column="expiratedtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userid,username,
        tablename,role,token,
        addtime,expiratedtime
    </sql>
</mapper>
